footer {
    height: 50px;
    background-color: #fff;
    text-align: right;
    font-size: 15px;
    line-height: 50px;
    height: 70px;
    padding-right: 20px;
    text-align: center;
    width:100%;
}
.mastcont {
    padding: 0px 0px 0px;
    background-color: #ffffff;
    height:100%;
}
.tab-pane iframe {
    height: 100%;
}
.row  .Required {
    border:1px solid red ;

}
.dowloadparam div:first-child {
    margin-left:2%;
}
